BRAVE_API_KEY="YourValueHere"
OLLAMA_API_KEY="YourValueHere"
DISCORD_KEY="YourValueHere"
DISCORD_GROUP_ID="YourValueHere"
GOOGLE_ACCOUNT="YourValueHere"
GOOGLE_PASSWD="YourValueHere"
GITHUB_TOKEN="YourValueHere"
